VITE_API_BASE_URL=https://api.ygntv.org/api
VITE_MEDIA_BASE_URL=https://api.ygntv.org
VITE_TMDB_API_KEY=
VITE_PUSHER_APP_KEY=
VITE_PUSHER_APP_CLUSTER=mt1
VITE_GOOGLE_CLIENT_ID=
VITE_TELEGRAM_BOT_USERNAME=
